/*------------------------- Fonts ----------------------------*/

@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Special+Elite');

/*------------------------- Backgrounds----------------------------*/

body {
  margin: 0;
  padding: 0;
/*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
  background: #333;
  background-attachment: fixed;
  background-size: cover;
}

/* The only rule that matters */
#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
  background-color: rgba(100,100,100,1.0);
}

/*------------------------- Headings ----------------------------*/



/*------------------------- Header ----------------------------*/

#bullet-rem {
    margin: 0;
    padding: 0;
    list-style-type: none;

}

#nav_header {
    background-color: grey;
    opacity: 0.8;
}

#nav_header a {
    color: black;
    font-family: 'Libre Barcode 39 Text', sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
}

.home_nav a {
    text-align: center;
    padding: 10px;
}

.nav_tabs {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
}

.nav_segment {
    display: inline;
    padding: 15px;
}
.nav_segment a {
    text-align: center;
    text-decoration: none;
    
}

li {
    margin: 0 4px;
    width: 240px;
    height: 75px;
}

/*------------------------- Hovers, transitions etc. ----------------------------*/

.click_here:hover {
    background: rgba(180,180,180,1.0);
    transition: background .5s ease-in-out;
}