/*------------------------- Fonts ----------------------------*/

@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Special+Elite');

/*------------------------- Backgrounds----------------------------*/

/*---------- parts of 'body' & #video-background taken from https://codepen.io/mattgrosswork/full/jrdwK -----*/

body {
  margin: 0;
  padding: 0;
  background: #333;
  background-attachment: fixed;
  background-size: cover;
}

#video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
  background-color: rgba(100,100,100,1.0);
}

/*------------------------- Headings ----------------------------*/

h1 {
    color: black;
    font-family: 'Special Elite', sans-serif;
    font-weight: 700;
    font-size: 48px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    padding-top: 60px;
}

h3 {
    color: black;
    font-family: 'Special Elite', sans-serif;
    font-weight: 400;
    font-size: 32px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.page_header {
    background: url("../textures/ripped_center_paper.png");
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 100%;
    padding-top: 50px;
	padding-bottom: 50px;
    margin-top: 50px;
	margin-bottom: 50px;
}

/*------------------------- Nav ----------------------------*/

#bullet-rem {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav_font {
    color: black;
    font-family: 'Libre Barcode 39 Text', sans-serif;
    font-weight: 500;
    font-size: 28px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
}

/*---------- all except .click_here after this point are taken from https://codepen.io/andornagy/pen/RNeydj with adjustments to sizing, color etc. ---------*/

.toggle,
[id^=drop] {
	display: none;
}

nav {
    position: fixed;
	margin:0;
	background-color: grey;
	opacity: 0.8;
	width: 100%;
	
}

#logo {
    margin-top: 14px;
    display: block;
	padding: 0 10px;
	float: left;
}

nav:after {
	content:"";
	display:table;
	clear:both;
}

nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	margin: 0;
	display:inline-block;
	float: left;
	background-color: grey;
	}

nav a {
	display:block;
	padding:14px 20px;	
	color:black;
	text-decoration:none;
}

.click_here:hover {
    background: rgba(180,180,180,1.0);
    transition: background .5s ease-in-out;
}

/*------------------------- Featured Section ----------------------------*/

#Featured {
	background: url("../textures/ripped_center_paper.png");
    background-position: center;
    background-repeat: no-repeat;
	background-size: 100% auto;
}

iframe {
   display: block;
   margin: 0 auto;
}

/*------------------------- About Section ----------------------------*/

article p {
	color: black;
    font-family: 'Special Elite', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    padding: 25px;
    margin: 25px;
}

/*------------------------- Footer ----------------------------*/

footer {
	background-color: grey;
	opacity: 0.8;
	min-height: 120px;
    margin: 0;
    padding: 0;
}

h5 {
    color: black;
    font-family: 'Libre Barcode 39 Text', sans-serif;
    font-weight: 500;
    font-size: 48px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}

footer p {
	color: black;
    font-family: 'Special Elite', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

.social li a i {
    width: 100%;
    height: 100%;
    padding: 12px;
    border-radius: 100%;
    font-size: 7px;
    text-align: center;
    color: black;
    background-color: white;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/*------------------------- Media Queries(Nav) ----------------------------*/

/*---------- The nav related media queries are also taken from https://codepen.io/andornagy/pen/RNeydj again with some adjustments --------*/ 

@media all and (max-width : 1025px) {

	#logo {
		display: block;
		padding-bottom: 20px;
		width: 100%;
		text-align: center;
		float: none;
	}

	nav {
		margin: 0;
		padding-top: 5px;
	}

	.toggle + a,
	.menu {
		display: none;
	}

	.toggle {
		display: block;
		background-color: #000000;
		padding:20px 20px;	
		color:#FFF;
		font-size:28px;
		text-decoration:none;
		border:none;
	}

	.toggle:hover {
		background-color: #000000;
	}

	[id^=drop]:checked + ul {
		display: block;
	}

	nav ul li {
		display: block;
		width: 55%;
		}
}

@media all and (max-width : 769px) {

	nav ul li {
		display:block;
		width: 90%;
	}

}

@media all and (max-width : 415px) {

	nav ul li {
		display:block;
		width: 100%;
	}

}

/*------------------------- Media Queries(Headings) ----------------------------*/

@media all and (max-width : 1025px) {
	h1 {
		padding-top: 150px;
	}
}

@media all and (max-width : 360px) {
	h1 {
		padding-top: 200px;
	}
}

/*------------------------- Media Queries(Featured Section) ----------------------------*/

@media all and (max-width : 769px) {
	#Featured {
		background-size: 130% auto;
	}
}

@media all and (max-width : 415px) {
	#Featured {
		background: url("../textures/crumpled_paper.png");
    	background-position: center;
    	background-repeat: no-repeat;
		background-size: 25% auto;
	}
	iframe {
		width: 315px;
		height: 315px;
	}
}

